.row .col-sm-4{
	border: 1px solid blue;
}

body{
	background-image: url(BG2.jpg);
}

#amount{
	width: 35px;
}

.footer{
	background-color: white;
}

input[name = name]{
	width: 100%;
}

#finder{
	width: 300px;
	color: black;
}

#finder:hover, #add:hover{
	background-color: blue;
	color: white;
}

.look, .delete, .update{
	width: 40px;
	height: 40px;
	display: inline-block;
	padding: 0;
}

button > img{
	vertical-align: middle;
}

#next, #prev{
	width: 80px;
	display: inline-block;
}

#Pnumb{
	display: inline-block;
}